:root {
  --brand: #00acfd;
  --black: #000000;
  --border: #E2E8F0;
  --muted: #90a1b9;
  --background: #f3f5f7;
  --white: #fff;
  --primaryColor: #dcf6fe;
  --darkGray: #9AA0AD;
  --secondaryGray: #F6F7FA;
  --secondaryBlue: #E0F5FF;
  --slate: #45556C;
  --bg-primary: #F1F5F9;
}